*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    background: rgb(90,90,90);
    background: linear-gradient(0deg, rgba(90,90,90,1) 0%, rgba(0,0,0,1) 100%);
}
.nav-grid{
    background-color: rgb(25, 25, 25);
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.nav-item{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: 320ms;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 5px;
}
.nav-item:hover{
    background-color: grey;
    transform: scale(1.05);
}
.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    height: 600px;
}

.boxImg{
    align-self: center;
}

.imgExpocicion{
    width: 600px ;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.box{
    height: 600px;
    background-color: rgb(59, 59, 59);
    margin: 0 10%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0,0.3) inset;
    color: white;
    text-align: justify;
}
.boxText{
    width: 40%;
    color: white;
    padding: 10px 20px;
    justify-self: center;
    align-self: center;
}

.box2nd{
    height: 600px;
    padding: 40px 5%;
    background-color: rgb(90, 90, 90);
    margin: 0 10%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0,0.3) inset;
    color: white;
}
.especificaciones{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    justify-items: center;
    height: 600px;
}
.especificaciones .listSpects{
    list-style-type:circle;
}

.box3rd{
    height: 600px;
    padding: 40px 5%;
    background-color: rgb(120, 120, 120);
    margin: 0 10%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0,0.3) inset;
}
.porVer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items:center;
    height: 600px;
}

.order{
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 8px 16px;
    transition: 120ms;
}
.order:hover{
    transform: scale(1.2);
    background-color: #000;
    color: white;
    cursor: pointer;
}

.inputNotificaciones{
    background-color: #ccc;
    width: 250px;
    font-size: 19px;
    padding: 2px 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0,0.3);
}

.pieDePagina{
    height: 200px;
    background-color: rgb(25, 25, 25);
    display: grid;
    grid-template:
    "a b" ;
    color: white;
    padding: 30px 10%;
    font-size: large;
}
.pieDePagina .masInfo{
    display: flex;
    grid-area: a;
    flex-direction: column;
}
.pieDePagina .masInfo a{
    color: white;
    text-decoration: none;
    transition: 120ms;
}
.pieDePagina .masInfo a:hover{
    color: #fff;
    transform: scale(1.2);
}
.pieDePagina .contacto{
    grid-area: b;
}
.pieDePagina .actualizaciones{
    width: 30%;
}
.pieDePagina .btnSubmit{
    cursor: pointer;
}
.volver{
    position:fixed;
    color: white;
    bottom: 20px;
    right: 20px;
    transition: 120ms;
}
.volver:hover{
    transform: scale(1.2);
}
.img-return{
    width: 100px;
}    
@media only screen and (max-width:1400px){
    *{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .nav-grid{
        background-color: rgb(25, 25, 25);
        padding: 20px;
    }
    .nav-item{
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        transition: 320ms;
        font-size: 18px;
        font-weight: bolder;
        border-radius: 5px;
    }
    .nav-item:hover{
        background-color: grey;
        transform: scale(1.05);
    }
    .main-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-items: center;
        height: 600px;
    }
    .boxImg{
        align-self: center;
    }
    
    .imgExpocicion{
        width: 600px ;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
    .box{
        height: 600px;
        background-color: rgb(59, 59, 59);
        margin: 0;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.3) inset;
        color: white;
        text-align: justify;
    }
    .boxText{
        width: 40%;
        color: white;
        padding: 10px 20px;
        justify-self: center;
        align-self: center;
    }
    
    .box2nd{
        height: 600px;
        padding: 40px 5%;
        background-color: rgb(90, 90, 90);
        margin: 0;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.3) inset;
        color: white;
    }
    .especificaciones{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        justify-items: center;
        height: 600px;
    }
    .especificaciones .listSpects{
        list-style-type:circle;
    }
    
    .box3rd{
        height: 600px;
        padding: 40px 5%;
        background-color: rgb(120, 120, 120);
        margin: 0;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.3) inset;
    }
    .porVer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-items:center;
        height: 600px;
    }
    
    .order{
        border-radius: 5px;
        background-color: whitesmoke;
        padding: 8px 16px;
        transition: 120ms;
    }
    .order:hover{
        transform: scale(1.2);
        background-color: #000;
        color: white;
        cursor: pointer;
    }
    
    .inputNotificaciones{
        background-color: #ccc;
        width: 250px;
        font-size: 19px;
        padding: 2px 5px;
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.3);
    }
    
    .pieDePagina{
        height: 200px;
        background-color: rgb(25, 25, 25);
        display: grid;
        grid-template:
        "a b" ;
        color: white;
        padding: 30px 10%;
        font-size: large;
    }
    .pieDePagina .masInfo{
        display: flex;
        grid-area: a;
        flex-direction: column;
    }
    .pieDePagina .masInfo a{
        color: white;
        text-decoration: none;
        transition: 120ms;
    }
    .pieDePagina .masInfo a:hover{
        color: #fff;
        transform: scale(1.2);
    }
    .pieDePagina .contacto{
        grid-area: b;
    }
    .pieDePagina .actualizaciones{
        width: 30%;
    }
    .pieDePagina .btnSubmit{
        cursor: pointer;
    }
    .volver{
        position:fixed;
        color: white;
        bottom: 20px;
        right: 20px;
        transition: 120ms;
    }
    .volver:hover{
        transform: scale(1.2);
    }
    .img-return{
        width: 75px;
    }
}
@media only screen and (max-width:900px){
    *{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .nav-grid{
        background-color: rgb(25, 25, 25);
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .nav-item{
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        transition: 320ms;
        font-size: 18px;
        font-weight: bolder;
        border-radius: 5px;
    }
    .nav-item:hover{
        background-color: grey;
        transform: scale(1);
    }
    .main-header{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        justify-items: center;
        height: 600px;
    }
    .boxImg{
        align-self: center;
    }
    
    .imgExpocicion{
        width: 100% ;
        align-self: center;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
    .box{
        height: 600px;
        background-color: rgb(59, 59, 59);
        margin: 0;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.3) inset;
        color: white;
        text-align: justify;
    }
    .boxText{
        width: 80%;
        color: white;
        padding: 10px 20px;
        justify-self: center;
        align-self: center;
    }
    
    .box2nd{
        height: 600px;
        padding: 0;
        background-color: rgb(90, 90, 90);
        margin: 0;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.3) inset;
        color: white;
    }
    .especificaciones{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        justify-items: center;
        height: 600px;
    }
    .especificaciones .listSpects{
        list-style-type:circle;
    }
    
    .box3rd{
        height: 600px;
        padding: 0;
        background-color: rgb(120, 120, 120);
        margin: 0;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.3) inset;
    }
    .porVer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        justify-items:center;
        height: 600px;
    }
    
    .order{
        border-radius: 5px;
        background-color: whitesmoke;
        padding: 8px 16px;
        transition: 120ms;
    }
    .order:hover{
        transform: scale(1.2);
        background-color: #000;
        color: white;
        cursor: pointer;
    }
    
    .inputNotificaciones{
        background-color: #ccc;
        width: 250px;
        font-size: 19px;
        padding: 2px 5px;
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0,0.3);
    }
    
    .pieDePagina{
        height: 250px;
        background-color: rgb(25, 25, 25);
        display: flex;
        flex-direction: column-reverse;
        color: white;
        padding: 30px 10%;
        font-size: large;
    }
    .pieDePagina .masInfo{
        display: flex;
        flex-direction: column;
    }
    .pieDePagina .masInfo a{
        color: white;
        text-decoration: none;
        transition: 120ms;
    }
    .pieDePagina .masInfo a:hover{
        color: #fff;
        transform: scale(1.2);
    }
    .pieDePagina .actualizaciones{
        width: 30%;
    }
    .pieDePagina .btnSubmit{
        cursor: pointer;
    }
    .volver{
        position:fixed;
        color: white;
        bottom: 20px;
        right: 20px;
        transition: 120ms;
    }
    .volver:hover{
        transform: scale(1.2);
    }
    .img-return{
        width: 75px;
    }
}